asgiref==3.10.0
certifi==2025.11.12
charset-normalizer==3.4.4
Django==4.2.16
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.1
idna==3.11
joblib==1.4.2
pandas==2.2.3
PyMySQL==1.1.1
python-dotenv==1.0.1
requests==2.32.5
scikit-learn==1.5.2
sqlparse==0.5.3
statsmodels==0.14.4
tzdata==2025.2
urllib3==2.5.0
numpy==1.26.4
scipy==1.14.1
mlflow
firebase-admin==6.4.0
